
	body{
		background-color:#D5FDFF;
		margin-left:23px;
	}
	button{
		background-color:#AC73FF;
		color:#E3F3AC;
		font-size:17px;
		border-style:solid;
		border-color:#F23A3A;
		display:inline;
	}
	button:hover{
		background-color:#700961;
		color:#E3F3AC;
		font-size:17px;
		border-style:solid;
		border-color:#C9182B
	}
	.submit{
		background-color:#AC73FF;
		color:#E3F3AC;
		font-size:17px;
		border-style:solid;
		border-color:#F23A3A;
		display:inline;
	}
	.submit:hover{
		background-color:#700961;
		color:#E3F3AC;
		font-size:17px;
		border-style:solid;
		border-color:#C9182B
	}
	#head{
		color:#145374;
		margin-top:23px;
	}
	#head_btn{
		display:block;
	}
	.reg_btns{
		background-color:#FF7C38;
		color:#E3F3AC;
		font-size:17px;
		border-style:solid;
		border-color:#B80D57;
		display:inline;
	}
	.reg_btns:hover{
		background-color:#E03E36;
		color:#E3F3AC;
		font-size:17px;
		border-style:solid;
		border-color:#B80D57;
		display:inline;
	}

